* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    width:100%;


}

.align-center {
    align-items: center;
}
.align2{
    align-items: center;
}

.header-flex {
    width: 100%;
    min-height: 100px;
    background-color: lightyellow;
    display: flex;
    align-items: center;
}

nav.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.right-menu {
    justify-content: flex-end;
    gap: 30px;
}

.left-menu {
    justify-content: flex-start;
}

.left-menu li {
    align-self: center;
}

.right-menu li {
    align-self: center;
}

.title-1 {
    background-color: pink;
    width: 100%;
    min-height: 120px;
    margin-bottom: 20px;
}

.text-1 {
    background-color: pink;
    width: 20%;
    min-height: 250px;
    align-self: flex-start;

}

.img1 {
    margin-left: 50px;
    background-color: pink;
    width: 60%;
    min-height: 200px;
    align-self: center;

}

.sez1-bg {
    background-color: aqua;
}

.wrap {
    flex-wrap: wrap;
}

.direction {
    flex-direction: column;
}


.professional {
    background-color: pink;
    width: 25%;
    min-height: 500px;
    margin-top: 50px;
}

.direction-r {
    flex-direction: row;
}

.justify {
    justify-content: center;
}

.advanced {
    background-color: pink;
    width: 25%;
    min-height: 500px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.sez-bg {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.professional,
.advanced,
.enterprise {
    width: 50%;
    min-height: 600px;
    background-color: pink;
    margin: 10px;
    margin-bottom: 80px;
}

/*Altra sezione*/
.team {
    width: 70%;
    min-height: 100px;
    background-color: pink;
    margin-right: 10px;
    margin-bottom: 100px;
}

.contatti {
    width: 30%;
    min-height: 100px;
    background-color: pink;
    margin-right: 10px;
    margin-bottom: 100px;
}

/*Altra sezione*/
.img-contact-dropbox{
    width:50%;
    min-height:400px;
    background-color: blue;
    margin-bottom:100px;
    margin-top: 100px;
}
.text-contact-dropbox{
    width:50%;
    min-height:400px;
    background-color: brown;
    margin-bottom:100px;
    margin-top: 100px;
}

/*Altra sezione*/

.folder,
.pagina,
.layout,
.chat,
.documenti,
.dropbox {
    width: 30%;
    min-height: 500px;
    background-color: pink;
    margin-bottom: 80px;
    margin: 10px;
}

.gap {
    gap: 20px;
}

.dropbox-business {
    margin-top: 200px;
    width: 100%;
    min-height: 300px;
    background-color: blue;
    margin-bottom: 200px;
}

.Dropbox,
.prodotti,
.azienda,
.supporto,
.community {
    width: 30%;
    min-height: 500px;
    background-color: black;
    margin-bottom: 80px;
    margin:2px;
}
footer{
    width:100%;
    background-color: yellow;
}